@use '@styles/global' as *;

.legend-container {
  h1 {
    font-size: fontSize(title-xl);
    font-weight: $weight-bold;
    color: palette(text, secondary);
    margin-bottom: $spacing-lg;
  }
}

.rental-search {
  background-color: getColor(white);
  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  padding: $spacing-lg;
  margin-bottom: $spacing-xl;

  .location-info,
  .date-info {
    display: grid;
    gap: $spacing-md;
    margin-bottom: $spacing-lg;

    @include breakpoint(md, min) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .pickup-location,
  .return-location {
    display: flex;
    align-items: center;
    gap: $spacing-md;

    img {
      width: 24px;
      height: 24px;
    }

    div {
      flex: 1;

      label {
        display: block;
        font-size: fontSize(body-s);
        color: palette(text, primary);
        margin-bottom: $spacing-xs;
      }

      h3 {
        font-size: fontSize(body-l);
        font-weight: $weight-semibold;
        color: palette(text, secondary);
      }
    }
  }

  .pickup-date,
  .return-date {
    label {
      display: block;
      font-size: fontSize(body-s);
      color: palette(text, primary);
      margin-bottom: $spacing-xs;
    }
  }
}
