@use '@styles/global' as *;

.sort-controls {
  label {
    margin-right: $spacing-sm;
  }

  select {
    padding: $spacing-xs $spacing-sm;
    border: 1px solid palette(border, default);
    border-radius: $radius-sm;
    font-size: fontSize(body-m);
    font-weight: $weight-bold;
    color: palette(text, secondary);
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      border-color: palette(border, focus);
    }
  }
}
