$breakpoint-mixin-name: xs !default;
$breakpoint-mixin-type: min !default;

@mixin breakpoint(
  $name: $breakpoint-mixin-name,
  $type: $breakpoint-mixin-type
) {
  @if type-of($name) == string {
    $breakpoint: map-get($breakpoints, $name);

    @if $breakpoint != null {
      $width: map-get($breakpoint, width);

      @if $type == "max" {
        $width: $width - 1px;
      }

      @media only screen and (#{$type}-width: $width) {
        @content;
      }
    } @else {
      @error "Unknown breakpoint: #{$name}";
    }
  } @else if type-of($name) == number {
    $width: $name;

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
