@use '@styles/global' as *;

.typography {
  font-family: $font-primary;
  color: palette(text, primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-body-s {
    font-size: fontSize(body-s);
    line-height: fontHeight(body-s);
    font-weight: $weight-normal;
  }

  &-body-m {
    font-size: fontSize(body-m);
    line-height: fontHeight(body-m);
    font-weight: $weight-normal;
  }

  &-body-l {
    font-size: fontSize(body-l);
    line-height: fontHeight(body-l);
    font-weight: $weight-normal;
  }

  &-subtitle-s {
    font-size: fontSize(subtitle-s);
    line-height: fontHeight(subtitle-s);
    font-weight: $weight-semibold;
  }

  &-subtitle-m {
    font-size: fontSize(subtitle-m);
    line-height: fontHeight(subtitle-m);
    font-weight: $weight-semibold;
  }

  &-subtitle-l {
    font-size: fontSize(subtitle-l);
    line-height: fontHeight(subtitle-l);
    font-weight: $weight-semibold;
  }

  &-subtitle-xl {
    font-size: fontSize(subtitle-xl);
    line-height: fontHeight(subtitle-xl);
    font-weight: $weight-semibold;
  }

  &-title-s {
    font-size: fontSize(title-s);
    line-height: fontHeight(title-s);
    font-weight: $weight-bold;
  }

  &-title-m {
    font-size: fontSize(title-m);
    line-height: fontHeight(title-m);
    font-weight: $weight-bold;
  }

  &-title-l {
    font-size: fontSize(title-l);
    line-height: fontHeight(title-l);
    font-weight: $weight-bold;
  }

  &-title-xl {
    font-size: fontSize(title-xl);
    line-height: fontHeight(title-xl);
    font-weight: $weight-bold;
  }
}
