@use '@styles/global' as *;

.vehicles-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-lg;
  padding-top: $spacing-lg;

  @include breakpoint(sm, min) {
    grid-template-columns: repeat(2, 1fr);
  }
}
